<!doctype html>
<html lang="en">
 <head> 
  <!-- Font link --> 
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    </style> 
  <!-- /Font link--> 
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FB6WRV4JFX"></script> 
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FB6WRV4JFX');
    </script> 
  <!-- /Google Tag Manager --> 
  <!-- Linked In Tag --> 
  <script type="text/javascript">
        _linkedin_partner_id = "6884273";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
        </script>
  <script type="text/javascript">
        (function(l) {
        if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
        window.lintrk.q=[]}
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})(window.lintrk);
     </script> 
  <noscript>
    &lt;img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=6884273&amp;amp;fmt=gif"&gt; 
  </noscript> 
  <!-- /Linked In Tag  --> 
  <!-- Meta Pixel Code --> 
  <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '416605697841543');
          fbq('track', 'PageView');
          </script> 
  <noscript>
   &lt;img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=416605697841543&amp;amp;ev=PageView&amp;amp;noscript=1"&gt;
  </noscript> 
  <!-- End Meta Pixel Code --> 
  <!-- HubSpot Embed Code Goes right before </body>--> 
  <title>team/location/pa</title> 
  <link rel="shortcut icon" href="https://www.cxurious.com/hubfs/cxurious-favicon.png"> 
  <meta name="description" content=""> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta property="og:description" content=""> 
  <meta property="og:title" content="team/location/pa"> 
  <meta name="twitter:description" content=""> 
  <meta name="twitter:title" content="team/location/pa"> 
  <style>
a.cta_button{-moz-box-sizing:content-box !important;-webkit-box-sizing:content-box !important;box-sizing:content-box !important;vertical-align:middle}.hs-breadcrumb-menu{list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}.hs-breadcrumb-menu-item{float:left;padding:10px 0px 10px 10px}.hs-breadcrumb-menu-divider:before{content:'›';padding-left:10px}.hs-featured-image-link{border:0}.hs-featured-image{float:right;margin:0 0 20px 20px;max-width:50%}@media (max-width: 568px){.hs-featured-image{float:none;margin:0;width:100%;max-width:100%}}.hs-screen-reader-text{clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute !important;width:1px}
</style> 
  <link rel="stylesheet" href="http://cdn2.hubspot.net/hub/46525733/hub_generated/template_assets/170787125083/1725057780532/cxurious/css/main.min.css"> 
  <link rel="stylesheet" href="http://cdn2.hubspot.net/hub/46525733/hub_generated/template_assets/170791869014/1725057780228/cxurious/css/cxurious.min.css"> 
  <link rel="stylesheet" href="http://cdn2.hubspot.net/hub/46525733/hub_generated/template_assets/170791868552/1721155099389/cxurious/css/theme-overrides-cxurious.min.css"> 
  <link rel="stylesheet" href="https://cdn2.hubspot.net/hub/46525733/hub_generated/module_assets/171158109452/1720619118256/module_171158109452_menu.min.css"> 
  <style>
    #hs_cos_wrapper_widget_1725042880431 .menu .menu__submenu {}

@media (min-width:767px) {
  #hs_cos_wrapper_widget_1725042880431 .menu__submenu--level-2>.menu__item:first-child:before {}
}

#hs_cos_wrapper_widget_1725042880431 .menu__submenu .menu__link,
#hs_cos_wrapper_widget_1725042880431 .menu__submenu .menu__link:hover,
#hs_cos_wrapper_widget_1725042880431 .menu__submenu .menu__link:focus {}

#hs_cos_wrapper_widget_1725042880431 .menu__submenu .menu__child-toggle-icon,
#hs_cos_wrapper_widget_1725042880431 .menu__submenu .menu__child-toggle-icon:hover,
#hs_cos_wrapper_widget_1725042880431 .menu__submenu .menu__child-toggle-icon:focus {}

  </style> 
  <link rel="stylesheet" href="https://cdn2.hubspot.net/hub/46525733/hub_generated/module_assets/177155709073/1725042492110/module_177155709073_dyn-team.min.css"> 
  <style>
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lato/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Lato/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Merriweather";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Merriweather/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Merriweather/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Merriweather";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Merriweather/700.woff2") format("woff2"), url("/_hcms/googlefonts/Merriweather/700.woff") format("woff");
  }
</style> 
  <!-- Editor Styles --> 
  <style id="hs_editor_style" type="text/css">
/* HubSpot Styles (default) */
.footer-column-1-row-1-margin {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
</style> 
  <link rel="canonical" href="../../../../../com/hs-sites/46525733/team/location/nh.html"> 
  <meta property="og:url" content="http://46525733.hs-sites.com/team/location/nh"> 
  <script>var hsVars = { app_hs_base_url: 'https://app.hubspot.com' };</script> 
  <meta name="twitter:card" content="summary"> 
  <meta name="generator" content="HubSpot">
 </head> 
 <body id="cxurious"> 
  <div class="body-wrapper   hs-content-id-177174099324 hs-site-page page "> 
   <div data-global-resource-path="cxurious/templates/partials/cxurious-header.html">
    <header id="cxurious" class="header header--no-navigation"> 
     <div class="container-fluid content-wrapper"> 
      <div class="row-fluid-wrapper"> 
       <div class="row-fluid"> 
        <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12"> 
        </div>
        <!--end widget-span --> 
       </div> 
      </div> 
     </div> 
     <div class="header__container content-wrapper"> 
      <div class="external-sitename"> 
       <div id="hs_cos_wrapper_linked_image" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"> 
        <span id="hs_cos_wrapper_linked_image_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="https://46525733.fs1.hubspotusercontent-na1.net/hub/46525733/hubfs/Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg?width=1000&amp;name=Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg" class="hs-image-widget " style="width:1000px;border-width:0px;border:0px;" width="1000" alt="Waggish happy fingers with team building concept" title="Waggish happy fingers with team building concept" srcset="https://46525733.fs1.hubspotusercontent-na1.net/hub/46525733/hubfs/Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg?width=500&amp;name=Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg 500w, https://46525733.fs1.hubspotusercontent-na1.net/hub/46525733/hubfs/Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg?width=1000&amp;name=Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg 1000w, https://46525733.fs1.hubspotusercontent-na1.net/hub/46525733/hubfs/Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg?width=1500&amp;name=Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg 1500w, https://46525733.fs1.hubspotusercontent-na1.net/hub/46525733/hubfs/Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg?width=2000&amp;name=Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg 2000w, https://46525733.fs1.hubspotusercontent-na1.net/hub/46525733/hubfs/Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg?width=2500&amp;name=Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg 2500w, https://46525733.fs1.hubspotusercontent-na1.net/hub/46525733/hubfs/Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg?width=3000&amp;name=Waggish%20happy%20fingers%20with%20team%20building%20concept.jpeg 3000w" sizes="(max-width: 1000px) 100vw, 1000px"></span>
       </div> 
      </div> 
      <div class="external-menu"> 
       <span id="hs_cos_wrapper_module_170950067971432" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
        <!-- custom widget definition not found (portalId: null, path: null, moduleId: null) --></span> 
      </div> 
     </div> 
     <div class="container-fluid content-wrapper"> 
      <div class="row-fluid-wrapper"> 
       <div class="row-fluid"> 
        <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12"> 
        </div>
        <!--end widget-span --> 
       </div> 
      </div> 
     </div> 
    </header>
   </div> 
   <div id="hs-embed-177620886434-bdpiko">
    <h1>embed test</h1>
    <script charset="utf-8" type="text/javascript" src="https://js.hubspot.com/content-embed/v1.js"></script>
    <script>
      hbspt.content.create({
      region: "na1",
      portalId: "46525733",
      embedId: "177620886434",
      elementId: "hs-embed-177620886434-bdpiko"
  });
    </script>
  </div>  
   </main> 
   <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script> 
   <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script> 
   <div data-global-resource-path="cxurious/templates/partials/cxurious-footer.html">
    <footer id="cxurious" class="footer"> 
     <div id="footer"> 
      <div class="container-fluid footer__container content-wrapper"> 
       <div class="row-fluid-wrapper"> 
        <div class="row-fluid"> 
         <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12"> 
          <div class="row-fluid-wrapper row-depth-1 row-number-1 dnd-section"> 
           <div class="row-fluid "> 
            <div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="0" data-w="12"> 
             <div class="row-fluid-wrapper row-depth-1 row-number-2 dnd-row"> 
              <div class="row-fluid "> 
               <div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12"> 
                <span id="hs_cos_wrapper_footer-module-2" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                 <!-- custom widget definition not found (portalId: null, path: null, moduleId: null) --></span> 
               </div>
               <!--end widget-span --> 
              </div>
              <!--end row--> 
             </div>
             <!--end row-wrapper --> 
             <div class="row-fluid-wrapper row-depth-1 row-number-3 dnd-row footer-column-1-row-1-margin"> 
              <div class="row-fluid "> 
               <div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12"> 
                <div id="hs_cos_wrapper_footer-module-3" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                 <span id="hs_cos_wrapper_footer-module-3_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                  <div style="text-align: center; font-size: 0.7rem;">
                   <span>© 2024 All rights reserved.</span>
                  </div></span>
                </div> 
               </div>
               <!--end widget-span --> 
              </div>
              <!--end row--> 
             </div>
             <!--end row-wrapper --> 
            </div>
            <!--end widget-span --> 
           </div>
           <!--end row--> 
          </div>
          <!--end row-wrapper --> 
         </div>
         <!--end widget-span --> 
        </div> 
       </div> 
      </div> 
     </div> 
    </footer>
   </div> 
  <div>
    <h1>Embed</h1>
    <div>
      <div id="hs-embed-177620886434-r6i6eh">
        <script charset="utf-8" type="text/javascript" src="https://js.hubspot.com/content-embed/v1.js"></script>
        <script>
          hbspt.content.create({
          region: "na1",
          portalId: "46525733",
          embedId: "177620886434",
          elementId: "hs-embed-177620886434-r6i6eh"
      });
        </script>
      </div>
    </div>
  </div>
  </div> 
  <script src="http://cdn2.hubspot.net/hub/46525733/hub_generated/template_assets/170791869041/1721155100874/cxurious/js/main.min.js"></script> 
  <script>
var hsVars = hsVars || {}; hsVars['language'] = 'en';
</script> 
  <script src="/hs/hsstatic/cos-i18n/static-1.53/bundles/project.js"></script> 
  <script src="https://cdn2.hubspot.net/hub/46525733/hub_generated/module_assets/171158109452/1720619117547/module_171158109452_menu.min.js"></script> 
  <!-- Start of HubSpot Analytics Code Not Loaded --> 
  <script>
(function(){
  const timeoutEvent = document.createEvent('CustomEvent');
  timeoutEvent.initCustomEvent("content-analytics-code-not-loaded", true, true, { detail: "Not loaded in preview mode" });
  window.dispatchEvent(timeoutEvent);
})();
</script> 
  <!-- End of HubSpot Analytics Code Not Loaded --> 
  <script type="text/javascript">
var hsVars = {
    render_id: "efa80927-5adf-4201-bdb7-8d766d3d9b31",
    ticks: 1725058164262,
    page_id: 177174099324,
    
    content_group_id: 0,
    portal_id: 46525733,
    app_hs_base_url: "https://app.hubspot.com",
    cp_hs_base_url: "https://cp.hubspot.com",
    language: "en",
    analytics_page_type: "standard-page",
    scp_content_type: "",
    analytics_page_id: "177174099324",
    category_id: 1,
    folder_id: 0,
    is_hubspot_user: null
}
</script> 
  <script defer src="/hs/hsstatic/HubspotToolsMenu/static-1.354/js/index.js"></script> 
 </body>
</html>